<section id="intro">
  <div class="container">
    <%- include('../icons/logo') %>
    <div class="social-icons">
      <a class="has-tooltip" title="Tweets" data-distance="20" target="_blank" href="https://twitter.com/niksudan">
        <%- include('../icons/twitter') %>
      </a>
      <a class="has-tooltip" title="Games" data-distance="20" target="_blank" href="https://gamejolt.com/@nik">
        <%- include('../icons/box') %>
      </a>
      <a class="has-tooltip" title="Sounds" data-distance="20" target="_blank" href="https://soundcloud.com/niksudan">
        <%- include('../icons/music') %>
      </a>
      <a class="has-tooltip" title="Code" data-distance="20" target="_blank" href="https://github.com/niksudan">
        <%- include('../icons/github') %>
      </a>
      <a class="has-tooltip" title="Videos" data-distance="20" target="_blank" href="https://youtube.com/c/niksudan">
        <%- include('../icons/github') %>
      </a>
      <a class="has-tooltip" title="Blog" data-distance="20" target="_blank" href="https://medium.com/@niksudan">
        <%- include('../icons/document') %>
      </a>
    </div>
  </div>
  <a class="scroller is-bottom" href="#about">
    <%- include('../icons/chevron-down') %>
  </a>
</section>
